<header class="">
  <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light bd-navbar">
    <a class="navbar-brand" routerLink="/">WXYZ</a>
    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" [routerLinkActive]="'active'">About</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-primary rounded-circle" type="submit">Login</button>
      </form> -->
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="app-footer text-muted">
  <ul class="app-footer-links">
    <li><a href="https://github.com/jacbmelo/wxyz" target="_blank" rel="noopener">GitHub</a></li>
    <li><a href="https://twitter.com/jacbmelo" target="_blank" rel="noopener">Twitter</a></li>
  </ul>
  <p>
    Designed and built with ❤ by <a href="https://www.github.com/jacbmelo/" target="_blank" rel="noopener">jacbmelo</a>.
    Code licensed under <a rel="license" href="https://raw.githubusercontent.com/jacbmelo/wxyz/master/LICENSE.txt" target="_blank" rel="noopener">MIT</a>.
  </p>
</footer>
