
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Home</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/about" role="button">Learn more</a>
    </p>
  </div>
</div>
<!--
<div class="container">
  <div *ngFor="let alert of mail.alerts"  class="row">
    <app-simple-form 
        [(value)]="alert.message" 
        (update)="onUpdate(alert.id, alert.type, $event.text)">
    </app-simple-form>
    <ngb-alert 
        [type]="alert.type" 
        (close)="mail.closeAlert(alert)">
      {{ alert.message }}
    </ngb-alert>
  </div>
</div>
-->